.blob {
    position: fixed;
    border-radius: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

.blob1 {
    background: rgba(253, 13, 213, 0.923);
    left: -75%;
}

.blob3 {
    background: rgb(253 13 213 / 16%);
    left: -65%;
}

.blob2 {
    background: rgba(253, 13, 213, 0.443);
    left: -55%;
}

.glassmorphismcontainer {
    background: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    backdrop-filter: blur(10px);
    margin: 25px;
    /* Apply blur effect */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
}